HELP.md
target/
target/
.idea
*.iml

backend/target/**
backend/src/main/resources/public/**

frontend/target/**
frontend/node
frontend/node_modules
frontend/dist
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

vuetify-material-dashboard-master
